.tombol {
	color: lightblue;
	background-color: darkcyan;
	border-radius: 9px;
	font-family: arial;
}

#daftar {
	border-radius: 8px;
	background-color: darkcyan;
	width: 150px;
	color: white;
	font-family: "Sofia", sans-serif;
	font-size: 17px;
}

.tomboldaftar {
	text-align: center;
	margin-bottom: 10px;
}
#formulir_pendaftaran {
	display: none;
}

.jumbotron {
	background-image: url(img/smkku.jpg);
	background-size: cover;
	height: 700px;
}
.jumbotron .container {
	background-color: lightblue;
	border-radius: 15px;
	background: rgba( 255, 255, 255, 0.15 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 270px;
}


/*footer*/
.footer-basic {
  padding:40px 0;
  background-color: lightblue;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

/*tampilan hp*/
/*@media (max-width: 600px) {
	button {
		display: none;
	}
}

@media (min-width: 700px) and (max-width: 900px) {
	body {
		background-color: greenyellow ;
		background-image: none !important;
		color: rgb(0, 18, 51);
		font-family: cursive;
	}
}*/